/*.container{
  border:10px solid blue;
}

.row{
  border: 10px solid orange;
}*/

.square{
  border: 1px solid black;
  height:32%;
}

.row{
  height:321px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .row{
    height: 372px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .row{
    height: 486px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .row{
    height: 582px;
  }

}
